@{
    ViewData["Title"] = "Lista de Tableros";
    string Title = "Lista de Tableros";
}
@using Taller2_TP10.ViewModels
@model List<IndexTableroViewModel>

<H2>@Title</H2>

<table class="table table-primary">
    <thead>
        <tr>
            <th scope="col"> ID</th>
            <th scope="col">Id del usuario propietario</th>
            <th scope="col">Nombre del tablero</th>
            <th scope="col">Descripcion del mismo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tablero in Model)
        {
            <tr>
                <th scope= "row">@tablero.Id</th>
                <td>@tablero.IdUsuarioPropietario</td>
                <td>@tablero.Nombre</td>
                <td>@tablero.Descripcion</td>
                <td><a asp-controller="Tablero" asp-action="ModificarTablero" asp-route-idTablero="@tablero.Id">Modificar</a>
                <a asp-controller="Tablero" asp-action="EliminarTablero" asp-route-idTablero="@tablero.Id" onclick="return confirm('¿Seguro que quieres eliminar este tablero?')">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<button type="submit" class="btn btn-primary"><a class="nav-link text-white" asp-controller="Tablero" asp-action="CrearTablero" >Crear</a></button>



