@{
    ViewData["Title"] = "Lista de Tareas";
    string Title = "Lista de Tareas";
}
@model List<Tarea>   
<H2>@Title</H2>

<table class="table table-primary">
    <thead>
        <tr>
            <th scope="col"> ID</th>
            <th scope="col">Id del tablero asignado</th>
            <th scope="col">Nombre de la tarea</th>
            <th scope="col">Estado de la tarea</th>
            <th scope="col">Descripcion de la tarea</th>
            <th scope="col">Color de la tarea</th>
            <th scope="col">Id del usuario asignado a la tarea</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarea in Model)
        {
            <tr>
                <th scope= "row">@tarea.Id</th>
                <td>@tarea.IdTablero</td>
                <td>@tarea.Nombre</td>
                <td>@tarea.EstadoTarea</td>
                <td>@tarea.Descripcion</td>
                <td>@tarea.Color</td>
                <td>@tarea.IdUsuarioAsignado</td>
                <td><a asp-controller="Tarea" asp-action="ModificarTarea" asp-route-idTarea="@tarea.Id">Modificar</a>
                <a asp-controller="Tarea" asp-action="EliminarTarea" asp-route-idTarea="@tarea.Id" onclick="return confirm('¿Seguro que quieres eliminar esta tarea?')">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<button type="submit" class="btn btn-primary"><a class="nav-link text-white" asp-controller="Tarea" asp-action="CrearTarea" >Crear</a></button>



