@{
    ViewData["Title"] = "Crear Usuario";
    string Title = "Crear Usuario";
}
@using Taller2_TP10.ViewModels
@model CrearUsuarioViewModel

<h2>@Title</h2>

<form asp-controller="Usuario" asp-action="CrearUsuario" method="post">
    <div class="mb-3">
        <label asp-for="@Model.Nombre" class="form-label">Nombre de usuario</label>
        <input asp-for="@Model.Nombre" type="text" class="form-control"placeholder="Ejemplo: Franco">
    </div>

    @* Para contraseña *@
    <div class="row g-3 align-items-center">
    <div class="col-auto">
        <label asp-for="@Model.Contrasenia" class="col-form-label">Contraseña</label>
    </div>
    <div class="col-auto">
        <input type="password" asp-for="@Model.Contrasenia" class="form-control" aria-describedby="passwordHelpInline">
    </div>
    <div class="col-auto">
        <span id="passwordHelpInline" class="form-text">
        De 4 a 12 caracteres.
        </span>
    </div>
    </div> @*Fin de contraseña*@
    <div class="mb-3">
        <label asp-for="@Model.Rol" class="form-label text-center">Rol</label>
        <select asp-for="@Model.Rol" class="form-select" aria-label="Default select example" >
        @foreach (Roles rol in Enum.GetValues(typeof(Roles)))
        {
                <option value="@rol" selected>@rol</option>
        }
        </select>
    </div>
        <button type="submit" class="btn btn-primary">Crear</button>
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }  @*Es para la validacion en la parte del cliente*@
